.wid {
  height: 100vh;
  width: 100%;
  background: linear-gradient(142deg, rgba(242,251,255,1) 43%, rgba(213,228,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: all 0.3s ease-in-out;
}

.btn {
  width: 35vw;
  padding: 1em 2em;
  background-color: rgb(20, 24, 32);
  border-radius: 0.5em;
  border: 0.5px solid white;
  background: rgba(233, 233, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
    background-color: rgb(34, 230, 162);
}
.input {
  width: 55vw;
  padding: 1em 2em;
}
